

#content #content-main .module,
input[type=text], input[type=password], input[type=email], input[type=url], input[type=number],
textarea, select, .vTextField, .button, input[type=submit], input[type=button], .submit-row input, a.button
.submit-row a.deletelink, .submit-row, .submit-row a.deletelink, .selector-available h2, .selector-chosen h2, button {
    border-radius: 0!important;}

/* FOR JS */
.jsMinusVal{
    color: red!important;}

#toBottom, #toTop{
    background: #888;
    padding: 0 7px;
    position: fixed;
    left: 3px;
    border: 1px solid;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    z-index: 100;
}

#toTop {
    display: none;
    bottom: 3px;
    left: 3px;
}

