{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ home.seo_title }}{% endblock %}
{% block description %}{{ home.seo_description }}{% endblock %}
{% block keywords %}{{ home.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}


{% block main %}

    {% include 'home/templates/slider.html' %}

    {% include 'home/templates/content.html' %}

    <section class="container">
        <div class="box">
            <h2 class="text-center" data-toggle="collapse" data-target="#findProject"><i class="fa fa-tasks"></i> Подобрать проект</h2>
            <form class="collapse" id="findProject">
                <div class="row">
                    <fieldset class="form-group col-md-4">
                        <legend class="col-form-label">Тип проекта</legend>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1" checked>
                          <label class="form-check-label" for="gridRadios1">
                            Дом
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                            Баня
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" disabled>
                          <label class="form-check-label" for="gridRadios3">
                            Беседка
                          </label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        <legend class="col-form-label">Этажность</legend>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios11" value="option1" checked>
                          <label class="form-check-label" for="gridRadios1">
                            1 этаж
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios21" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                            1 этажа
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios31" value="option3" disabled>
                          <label class="form-check-label" for="gridRadios3">
                            3 этажа
                          </label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group col-md-4">
                        <legend class="col-form-label pt-0">Технология строительства</legend>
                        <div class="form-check">
                              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="option1" checked>
                              <label class="form-check-label" for="gridRadios1">
                                Профилированный брус
                              </label>
                            </div>
                        <div class="form-check">
                              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios22" value="option2">
                              <label class="form-check-label" for="gridRadios2">Клееный брус</label>
                            </div>
                        <div class="form-check disabled">
                              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios32" value="option3" disabled>
                              <label class="form-check-label" for="gridRadios3">Оцилиндрованное бревно</label>
                            </div>
                    </fieldset>
                    <fieldset class="form-group col-md-6">
                        <legend class="col-form-label pt-0">Общая площадь</legend>
                        <input type="range" class="custom-range" id="customRange1">
                    </fieldset>
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Подобрать</button>
                </div>
            </form>
        </div>
    </section>
    {% load get_include_area %}
    {% get_include_area request code='advantages' %}

    {% include 'product/templates/item_bestseller_product.html' with objects=new_products title='НОВИНКИ' %}

    {% include 'product/templates/item_bestseller_product.html' with objects=bestseller_products title='ХИТ ПРОДАЖ' %}

    {% if setting_template.phone %}
        <section class="text-center row" style="background-image:url({% version home.get_main_image.image 'max' %});">
            <h3>Звоните: <a href="tel:{{ setting_template.phone }}"><i class="fa fa-phone"></i> {{ setting_template.phone }}</a></h3>
        </section>
    {% endif %}

    {% if home.blog %}
        {% include 'blog/templates/blog_post_list.html' with obj=home.blog objects=posts %}
    {% endif %}


{% endblock %}

{% block additional_js %}{% endblock %}