{# Slider #}
{% load static %}
{% load fb_versions %}


{% if slider_home %}
    <div id="height-slider"></div>
    <div id="main-slider">
        {% with slider=slider_home  %}
            {% for sh in slider %}
            <div class="item" {% if sh.image %} style="background-image: url({% version sh.image 'max' %})" {% endif %}>
                <div class='info'>
                    <h3><a target="_blank" {% if sh.url %} href="{{ sh.url }}"{% endif %}>{{ sh.title }}</a></h3>
                    {% if sh.html_description %}<p>{{ sh.html_description }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        {% endwith %}
    </div>
{% endif %}
