{% extends 'base.html' %}

{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}


{% block content %}
    {% block header %}{% include 'default/header.html' %}{% endblock %}
    <div id="content">
        {% block breadcrumbs %}{% endblock %}
        <article class="container">
            {% block main %}{% endblock %}
            {% block leftbar %}{% endblock %}
        </article>
    </div>
    {% block footer %}{% include 'default/footer.html' %}{% endblock %}

{% endblock %}


