<div id="top-bar">

    <div id="top">
        <div class="container">
{#            <div class="col-md-6 offer" data-animate="fadeInDown">#}
{#                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">[?]Offer of the day</a>#}
{#                <a href="#">[?]Get flat 35% off on orders over $50!</a>#}
{#            </div>#}
            <div class="col-md-12" data-animate="fadeInDown">
                <ul class="text-left menu pull-left">
                    {% if setting_template.phone %}
                        <li>
                            <a href="tel:{{ setting_template.phone }}"><i class="fa fa-phone"></i> {{ setting_template.phone }}</a>
                        </li>
                    {% endif %}
                    {% if setting_template.email %}
                        <li>
                            <a href="email:{{ setting_template.email }}"><i class="fa fa-envelope"></i> {{ setting_template.email }}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="menu text-right">
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}"><i class="fa fa-user"></i> Аккаунт</a>
                        {% else %}
{#                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>#}
                            <a href="{% url 'user_login' %}"><i class="fa fa-user"></i> Войти</a>
                        {% endif %}
                    </li>

                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><i class="fa fa-reply"></i> Выход</a>
                        {% else %}
                            <a href="{% url 'user_register' %}"><i class="fa fa-pencil"></i> Регистрация</a>
                       {% endif %}
                    </li>
                </ul>
            </div>
        </div>
{#        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">#}
{#            <div class="modal-dialog modal-sm">#}
{##}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                        <h4 class="modal-title" id="Login">Customer login</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <form action="{% url 'user_login' %}" method="post">{% csrf_token %}#}
{#                            <div class="form-group">#}
{#                                <input type="text" class="form-control" id="email-modal" placeholder="email">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="password" class="form-control" id="password-modal" placeholder="password">#}
{#                            </div>#}
{##}
{#                            <p class="text-center">#}
{#                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>#}
{#                            </p>#}
{##}
{#                        </form>#}
{##}
{#                        <p class="text-center text-muted">Not registered yet?</p>#}
{#                        <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>


    </div>


