{% load static %}
{% load fb_versions %}

    <div class="container" data-animate="fadeInUpBig">
    {% if home %}
        <div class="col-md-12">
            <div class="box slideshow">
                <h2>{{ home.title }}</h2>
                <div class='col-md-12'>{{ home.html|safe }}</div>
                <div id="get-inspired" class="owl-carousel owl-theme">
                    <div class="item">
                        {% if home.get_images.exists %}
                            {% for i in home.get_images %}
                                <img src="{% version i.image 'max' %}" alt="Get inspired" class="img-responsive">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}

    {% include 'home/templates/first_step_run.html' %}

    {% endif %}
    </div>
