<div class="alert">
    <article id="post-1" class="article no-margin even post-1 post type-post">
        <h1>Первые настройки нового проекта.</h1>

        <div class="content">
            <h3>Войдите в <a href="/admin" target="_blank">Административую панель</a>
                <small>под своим логином и паролем.</small>
            </h3>

            <p>
                <small>Или воспользуйтесь тестовыми: <strong>login</strong>: <em>pyapman</em> <strong>password</strong>:
                    <em>superuser</em></small>
            </p>

            <ol>
                <li>В разделе&nbsp;<a href="http://localhost:8000/admin/sites/site/1/change/">Домен </a>&nbsp;изменить
                    <strong>Доменное имя:</strong> <em>mysite.com</em>, и <strong>Отображаемое имя:</strong> <em>mysite.com.</em>
                </li>
                <li>Создать <a href="http://localhost:8000/admin/home/home/add/">главную страницу</a>. Заполняем
                    контент, заголовок и фотографию.
                </li>
                <li>Создать <a href="http://localhost:8000/admin/settings_template/settingstemplate/add/">шаблон</a>, и
                    заполнить необходимые поля.&nbsp;<em>Сайт/Домен,&nbsp;Логотип,&nbsp;Email проекта,&nbsp;&nbsp;Главная
                        страница, <strong>Включена</strong> (должна стоять галка).</em></li>
            </ol>

            <p>Первые шаги сделаны! У нас есть главная <a href="http://localhost:8000/">страница сайта</a>.&nbsp; Дальше
                необходимо создать меню, футер, страницы, и другие элементы которые вам потребуются.&nbsp;</p>

            <p>Больше информации можно найти в документация, на <a href="http://pyap.ru/">сайте движдка</a>.&nbsp;</p>

            <p>&nbsp;</p></div>
        <time class="small text-muted" datetime="6 июля 2018 г. 18:43">6 июля 2018 г. 18:43</time>
    </article>
</div>