{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywors }}{% endblock %}

{% block breadcrumbs %}{% include 'default/breadcrumbs.html' with obj=object %}{% endblock %}

{% block main %}
    <div class="container">
        <div id="text-page" class="row">
            <article id="post-{{ object.id }}" class="{% if object.get_images %}col-md-6{% endif %} article no-margin even post-{{ object.id }} post type-post">
                <h1>{{ object.title }}</h1>
                {% if object.description %}<blockquote>{{ object.description }}</blockquote>{% endif %}
                <div class="content">{{ object.html|safe }}</div>
                <time class="small text-muted" datetime="{{ object.created }}">{{ object.created }}</time>
            </article>
            {% for img in object.get_images %}
                <img src="{% version img.image 'large' %}" alt="{{ img.title }}" title="{{ img.image_title }}" class="img-responsive col-md-6">
            {% endfor %}
        </div>

        {% if object.is_allow_comments %}
            <div class='box'>
                {% include 'default/comment_list.html' %}<br>
                {% include 'default/form_comment.html' with type='page' obj=object %}
            </div>

        {% endif %}
        {% if object.scripts %}{{ object.scripts|safe }}{% endif %}
    </div>
    <!-- /.col-md-9 -->



{% endblock %}

{% block additional_js %}{% endblock %}

