{% load static %}
{% load thumbnail %}

{% if objects %}

<div id="hot" class="container">
    {% if title %}
        <h2>{% if title %}{{ title }}{% endif %}{{ object.title }}</h2>
        <p class="text-center text-muted">Lorem Ipsum is simply dummy text.</p>
    {% endif %}
    <div class="product-slider">
        {% with objects=objects %}
            {% for product in objects %}
                <div class="item">
                    <div class="product">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="img-responsive" src="{{ product.get_main_image|thumbnail_url:'big' }}" title="{{ product.get_main_image.image.image_title }}" alt="{{ product.title }}">
                        </a>
                        <div class="text">
                            <h4>{{ product.title|truncatechars:35 }}</h4>
                            {% if product.articul %}<a href="{{ product.get_absolute_url }}" class='small text-muted'>{{ product.articul }}</a><br>{% endif %}
                            {% if product.get_price %}
                                {% include 'product/templates/product_price.html' with obj=product %}
                                <div class="form-group">
                                    <a rel="nofollow" class='jsAddToCart btn btn-default' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                    <div id="ajaxError"></div>
                                    <a class="btn btn-default">Заказать проект</a>
                                </div>

                            {% endif %}
                        </div>
                        <!-- /.text -->

                        {% if product.get_price_discount %}
                        <div class="ribbon sale">
                            <div class="theribbon">%</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}

                        {% if product.is_new %}
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}
                        {% if product.is_bestseller %}
                        <div class="ribbon gift">
                            <div class="theribbon">TOP</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- /.product -->
                </div>
            {% endfor %}
        {% endwith %}
        </div>

</div>
{% endif %}

