{# --- FORM ADD PRODUCT IN CART --- #}
{% if product.productitem_set.exists %}
     <form enctype="multipart/form-data" method="post" id="addCartForm">{% csrf_token %}
         <div class="quantity">
             <input type="hidden" id="productId" value="{{ product.get_main_item.id }}">
             <p hidden>{{ cart_product_form.quantity }}</p>
         </div>
         <button type="submit" class="jsAddToCart btn btn-block btn-primary"><i class="fa fa-shopping-cart"></i> В корзину</button>
        <div id="ajaxError"></div>
     </form>
{% endif %}
{# --- end FORM ADD PRODUCT IN CART --- #}