{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ product.seo_title }}{% endblock %}
{% block description %}{{ product.seo_description }}{% endblock %}
{% block keywords %}{{ product.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}

{% block breadcrumbs %}
    {% include 'default/breadcrumbs.html' with obj=product tree=product.catalog.first.get_family %}
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="text-center goToDescription">
        <a href="#details" class="scroll-to">{{ product.title }}</a>
    </h1>
    {% if product.description %}<p class="col-md-10">{{ product.description }}</p>{% endif %}
</div>

<section class="container">
    <!-- Nav tabs -->
    <ul class="row nav nav-tabs">
        <li class="active"><a href="#photo" data-toggle="tab">photo</a></li>
        <li><a href="#photo2" data-toggle="tab">photo2</a></li>
    </ul>

    <div class="row tab-content">
        <div class="tab-pane fade in active" id="photo">
            <div class="col-sm-8" id="productMain">
                <div id="mainImage">
                    <img src="{% version product.get_main_image 'max' %}" alt="{{ product.get_main_image.image_tile }}" title="{{ product.get_main_image.image_title }}" class="img-responsive">
                </div>
                {# --- line bestseller AND new product --- #}
                {% if product.is_new %}
                    <div class="ribbon new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                {% endif %}
                {% if product.is_bestseller %}
                    <div class="ribbon sale">
                        <div class="theribbon">TOP</div>
                        <div class="ribbon-background"></div>
                    </div>
                {% endif %}
                {# ----------------- #}
            </div>
            <div class="col-sm-4 box-white">
            {% if product.get_price %}{% include 'product/templates/product_price.html' with obj=product %}{% endif %}
            {% if product.get_images.exists %}
                <div class="row sidebar-product" id="thumbs">
                    {% for img in product.get_images %}
                        <div class="row sidebar-product-row">
                            <div class="col-xs-6">
                                <a href="{% version img.image 'max' %}" class="thumb">
                                    <img src="{% version img.image 'medium' %}" alt="" class="img-responsive">
                                </a>
                            </div>
                            {% if img.image_title or img.image_description %}
                            <div class="col-xs-6 img-desc">
                                <p>{{ img.image_title }}</p>
                                <small class="small-ms text-muted">{{ img.image_description }}</small>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <br>
        </div>
        <div class="tab-pane fade" id="photo2">photo2</div>
    </div>

</section>

<section class="container">
    <div class="row" id="details">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#description" data-toggle="tab">Описание</a></li>
            <li><a href="#params" data-toggle="tab">Параметры</a></li>
            <li><a href="#materials" data-toggle="tab">Материалы</a></li>
        </ul>

        <div class="tab-content box-white col-sm-8">
            <!-- Tab panes -->
            <div class="tab-pane fade in active" id="description">
            {% if product.html %}
                <div class="content">{{ product.html|safe }}</div>
            {% endif %}
            </div>
            <div class="tab-pane fade" id="params">params</div>
            <div class="tab-pane fade" id="materials">materials</div>
        </div>
        <aside class="col-sm-4 pull-right">
            <div class="box-white">
                {% include 'product/templates/product_items.html' with main_obj=product objects=product.productitem_set.all %}
                <hr>
                {% include 'product/templates/productl_form_add_cart.html' %}
                <button class="btn btn-block btn-primary">Быстрый заказ</button>
                {# <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a> #}
                {# <a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a> #}
            </div>
            <br>
            {% if comment_form %}<div class="box-white">{% include 'default/form_comment.html' %}</div>{% endif %}
        </aside>
    </div>
    <div class="m-4a">{% include 'default/next_prev.html' with next_prev=next_prev %}</div>
    {% if comments %}<div class='box'>{% include 'default/comment_list.html' %}</div>{% endif %}
    {% include 'product/templates/item_bestseller_product.html' with objects=product.recommend_products.all title='Похожие товары' %}
</section>
{% endblock %}

{% block additional_js %}{% endblock %}