{% extends "main.html" %}

{% block title %}Спасибо за заказ{% endblock %}
{% block description %}Спасибо за заказ{% endblock %}
{% block keywords %}Спасибо за заказ{% endblock %}

{% block main %}
    <div class="col-md-9">
        <div id="text-page" class="box">
        <h1>Заказ оформлен!</h1><hr>
        <h3>Номер вашего заказа: <b># {{ pk }}</b></h3>
        <a class='btn btn-primary' href="{% url 'user_order_detail' pk %}">Перейти к заказу</a>
    </div>
</div>

{% endblock %}