{% extends 'main.html' %}
{% load staticfiles %}

{% block title %}Мои заказы{% endblock %}
{% block description %}Мои заказы{% endblock %}
{% block keywords %}Мои заказы{% endblock %}

{% block additional_css %}{% endblock %}

{% block breadcrumbs %}{% include 'default/breadcrumbs.html' with obj='Настройки аккаунта' %}{% endblock %}
{% block leftbar %}{% include 'users/templates/left_panel.html' %}{% endblock %}


{% block main %}
    <div class="col-md-9">
        <div class="box" id="text-page">
        <h1>Мои заказы <span class="badge">{{ orders|length }}</span></h1>
            <table class="table table-responsive table-hover">
                <thead><tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Статус</th>
                    <th>Сумма</th>
                    <th>Подробнее</th>
                </tr>
                </thead>
                <tbody>
                {% with order_list=orders %}
                {% for order in order_list %}
                    <tr class="spaceUnder">
                        <td>{{ order.pk }}</td>
                        <td>{{ order.created }}</td>
                        <td>{% if order.is_paid %}Оплачен{% else %}Не оплачен{% endif %}</td>
                        <td>{{ order.total_cost }}<i class="fa fa-rub" aria-hidden="true"></i></td>
                        <td><a href="{% url 'user_order_detail' order.pk %}">Подробнее</a></td>
                    </tr>
                {% empty %}
                    <p class="">Заказов пока не было :(</p>
                {% endfor %}
                {% endwith %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block additional_js %}{% endblock %}




