{% extends "admin/base.html" %}

{% load staticfiles i18n custom_admin_menu custom_admin_logo custom_admin_css %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/pyap.css' %}" />
{% endblock %}

{% block blockbots %}
    {{ block.super }}
    <style type="text/css">
        {% get_custom_admin_css as css %}
        {{ css }}
    </style>
{% endblock %}

{% block nav-global %}
    {% get_admin_menu as menu %}

    {% if menu %}
    <div class="tabs">
        <ul>
            {% for title, item in menu.items %}
            <li class="{% if item.active %}active{% endif %}{% if item.children|length > 1 %} has-child{% endif %}">
                <a href="{{ item.url }}">{{ item.title }} {% if item.children|length > 1 %}<span class="arrow"></span>{% endif %}</a>

                {% if item.children|length > 1 %}
                <ul>
                    {% for sub in item.children %}
                        <li ><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% for title, item in menu.items %}
        {% if item.active and item.children|length > 1 %}
        </div>
        <div id="secondary-nav">
            <ul>
            {% for sub in item.children %}
                <li class="{% if sub.active %}active{% endif %}"><a href="{{ sub.url }}">{{ sub.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block branding %}
    {% get_custom_logo as brandmark %}
    {% if brandmark %}
    <img src="{% static brandmark %}" id="branding" />
    {% endif %}
{% endblock %}


{% block pyap_static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.file-upload a').fancybox();
        });
    </script>

{#  so top  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/pyap.css' %}" /> #}
    <script src="{% static 'admin/js/pyap.js' %}"></script>

{% endblock %}