<div class="col-md-3">
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading"><h3 class="panel-title"> Мой аккаунт</h3></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
                {% if request.user %}
                <li {% if current_url == '/users/profile/' %}class='active'{% endif %}>
                    <a href="{% url 'profile' %}">
                        <i class="fa fa-cogs" aria-hidden="true"></i> Настройки аккаунта
                    </a>
                </li>
                {% endif %}
                <li {% if current_url == '/users/orders/' %}class='active'{% endif %}>
                    <a href="{% url 'user_orders' %}">
                        <i class="fa fa-folder-open" aria-hidden="true"></i> Мои заказы
                    </a>
                </li>
                <li {% if current_url == '/users/review/products/' %}class='active'{% endif %}>
                    <a href="{% url 'user_review_products' %}">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> Мои Отзывы
                    </a>
                </li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</a></li>
            </ul>

        </div>
    </div>
</div>
