body {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    background: #f9f9f9;
}

h1, h2, h3 {
    font-weight: 300;
}
.navbar-brand.home{
    margin: 10px 0;
}
.p-0{ padding: 0;}
.m-0{ margin: 0;}
.m-2a{ margin: 20px auto; }
.m-4a{ margin:40px auto;}
.p-6 { padding: 60px; }

small.small, .small-ms {
    font-size: 70%;
}

.logo {
    overflow: hidden;
}
#nav li {
	list-style: none;
}
.header .primary-menu {
	float: right;
}
.primary-menu {
    margin: 30px 0;
    font-size: 13px;
    text-transform: uppercase;
}
.primary-menu a {
	text-decoration: none;
}
.primary-menu > li {
	display: inline-block;
	position: relative;
}
.primary-menu li {
	position: relative;
}
.primary-menu .active, .primary-menu li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.primary-menu li > a {
	display: inline-block;
    padding: 5px 15px;
}

.menu .navbar-btn {
    margin: 0;
    background-color: unset;
    border: none;
    padding: 2px 5px;
}
.primary-menu .current-menu-ancestor > a,
.primary-menu .current-menu-item > a {
	color: #D1A054;
}
.primary-menu .sub-menu {
    background-color: #fff;
    text-transform: none;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    position: absolute;
    padding: 0;
    opacity: 0;
    list-style: none;
    visibility: hidden;
	z-index: 88;
    transition: all 0.25s linear;
}

.primary-menu li:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
}
.header-v2 .primary-menu li:hover > .sub-menu {
	top: 70px;
}
.primary-menu .sub-menu .sub-menu {
	left: 100%;
	top: 30px;
}
.primary-menu .sub-menu li:hover .sub-menu {
	top: 0;
}

.primary-menu .sub-menu a {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 0 rgba(255,255,255,0.05);
	min-width: 200px;
    padding-left: 20px;
}
.dropdown-toggle:after,
.primary-menu .menu-item-has-children > a:after {
    content: '.';
    display: inline-block;
    margin-left: 5px;
    font-size: 3em;
    vertical-align: super;
    position: absolute;
    top: -13px;
    right: -2px;
}

.primary-menu .menu-item-has-children .menu-item-has-children > a:after {
	content: '.';
    display: inline-block;
    margin-left: 5px;
    font-size: 3em;
    vertical-align: super;
	position: absolute;
	right: 15px;
}
.dropdown-toggle:after {
	margin-left: 0;
}
.icon-menu {
	font-size: 21px;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 30px;
	top: 35px;
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	line-height: 1;
	cursor: pointer;
}
.header-v1 .icon-menu {
	top: 28px;
}

.dropdown-toggle {
	font-size: 20px;
	vertical-align: top;
	padding: 15px 15px 15px 0;
	margin-right: -30px;
	display: none;
	margin-top: 0;
}

#main-slider, #main-slider .item {
    width: 100vw;
}

#main-slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000;
}

#main-slider .item {
    width:100%;
    height: 680px;
    background-size: cover;
    background-position: center center;
    opacity: 0.55;
}

#main-slider .info {
    position: absolute;
    top: 40%;
	right: 0%;
    padding: 10px 25px;
}

#main-slider h1, #main-slider h2, #main-slider h3 {
	line-height: 1;
	font-size: 30px;
	margin: 15px 0;
	text-shadow: 1px 1px 2px #000;
}
#main-slider p {
	text-shadow: 0 1px 1px #000;
    color: #fff;
	font-size: 20px;
}

.box-white {
    background: white;
    padding: 3rem;
}

.product .flip-container img{
	margin; 0 auto;
}

.blur {
	position: relative;
	z-index: -100;
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}

.form-control, .btn, .panel, .alert, .pagination li a, .breadcrumb, .nav-tabs>li>a,
button, select, input{
	border-radius: 0!important;
}

.dynamic-form_del{
	position: absolute;
    right: 3%;
    top: 10%;
    padding: 0 6px;
    color: #fff;
    background: #a94442;
}
input[type=radio], input[type=checkbox] {
    width: 25px;
    height: 20px;
}
.btn {
	position: relative;
	z-index: 10;
}

.tag{
	margin: 3px 1px;
}

ul.messages{
	position: fixed;
    font-size: 21px;
    z-index: 35;
    background: #1c2024eb;
    width: 50%;
    padding-left: 10px;
}
ul.messages li.success{
	color: #4ebfa8;
}

#height-slider {
    min-height: 540px;
}
#toTop{
    background: #3333336e;
    padding: 0 10px;
    position: fixed;
    cursor: pointer;
    color: #fff;
    z-index: 100;
    display: none;
    bottom: 1px;
    left: 1px;
}

#searchform .form-control {
    border: 0;
    border-bottom: 1px solid #394a6c;
    color: #fff;
}

/*
.form-claim {
    color: #fff;
    padding: 20px 60px 40px;
    position: absolute;
    top: 240px;
    right: 10%;
    background: rgba(255, 255, 255, 0.15);
}
*/
.form-claim-modal {
    color: #333;
    padding: 20px 40px;
    border-radius: 0;
}

.advantage-block {
    text-align: center;
    background: #222;
    color: #fff;
    max-height: 440px;
    overflow: hidden;
    border-bottom: 1px solid
}

.filter-product {
    width: 30%;
    float: right;
    max-width: 420px;
    min-width: 320px;
}
.filter-product, .filter-product .panel-default>.panel-heading,
.filter-product .panel-default>.panel-heading {
    color: #fff;
}
.filter-product a {
    font-weight: 400;
}
.filter-product .panel-default>.panel-heading, .filter-product .panel-default {
    border-color: #394a6c;
}
.filter-product .panel-heading, .filter-product .panel-body {
    padding: 15px 30px;
}

.breadcrumb {
    font-weight: 500;
    font-size: 70%;
    border-bottom: 1px solid #eee;
}
.breadcrumb a {
    color: #aaa;
}
.breadcrumb .active a {
    color: #777;
}
.sidebar-product {
    height: 500px;
    overflow: auto;
}
.sidebar-product-row {
    border-bottom: 1px solid #eee;
    margin: 0px 0 10px;
    padding-bottom: 8px;
}

.img-desc {
    line-height: 1;
    padding:0;
}

.img-desc p {
    margin-bottom: 8px;
}

.goToDescription a {
    color: unset;
    text-decoration: none;
}

header {
    text-shadow: 0 0 0 #fff;
}

footer h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

.box-img-top {
    max-height: 600px;
    overflow: hidden;
}
header, footer, .navbar-default .navbar-brand, .primary-menu li > a, .icon-menu,  #main-slider .info a {
    color: #fff;}

footer {
    background-color: #323746; }

header.page, #searchform .form-control, #content .panel.sidebar-menu,
.panel-default>.panel-heading {
    background-color: #22355b; }