<footer id="footer">
    <div class="container m-4a">
        <div class="row m-4a">
            {% if footer.page.exists %}
            <div class="col-md-3 col-sm-6">
                <h4>Популярные страницы</h4>
                <ul>
                {% for p in footer.page.all %}
                    <li>
                        <a href="{% url 'page_detail' slug=p.slug %}" title="{{ p.title }}" rel="nofollow">{{ p.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if footer.blogs.exists %}
            <div class="col-md-3 col-sm-6">
                <h4>Популярные блоги</h4>
                <ul>
                {% for b in footer.blogs.all %}
                    <li>
                        <a href="{{ b.get_absolute_url }}" title="{{ b.title }}" rel="nofollow">{{ b.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if footer.get_list_link %}
            <div class="col-md-3 col-sm-6">
                <h4>Быстрые ссылкии</h4>
                <ul>
                {% for ll in footer.get_list_link %}
                    <li>
                        <a class='{{ ll.type_link }}_link' href="{{ ll.url }}" title="{{ ll.title }}"
                        {% if 'T' in ll.type_link %} target="_blank" {% endif %}>{{ ll.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if footer.catalog.exists %}
            <div class="col-md-3 col-sm-6">
                <h4>Популярные каталоги</h4>
                <ul>
                {% for b in footer.catalog.all %}
                    <li>
                        <a href="{{ b.get_absolute_url }}" title="{{ b.title }}" rel="nofollow">{{ b.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if footer.galleries.exists %}
            <div class="col-md-3 col-sm-6">
                <h4>Популярные галереи</h4>
                <ul>
                {% for b in footer.galleries.all %}
                    <li>
                        <a href="{{ b.get_absolute_url }}" title="{{ b.title }}" rel="nofollow">{{ b.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                <hr class="hidden-md hidden-lg hidden-sm">
            </div>
            {% endif %}

            {% if footer.text_info %}
            <div class="col-md-3 col-sm-6">
                <h4>{{ footer.text_info.title }}</h4>
                {{ footer.text_info.html|safe }}
            </div>
            {% endif %}

            {% include 'site_info/templates/social_networs.html' with type='html_link' %}
        </div>
    </div>
    <div class="container small">
        <div class="row">
            <div class="col-md-6">
                <span>© {% now 'Y' %}. Все права защищены.</span>
            </div>
            <div class="col-md-6">
                <span class="pull-right">Создан <a href="http://pyap.ru">pYAp</a></span>
            </div>
        </div>
    </div>

</footer>

<div id="toTop">&uarr;</div>