{% if messages %}
{#    <ul class="messages" style="position:fixed;font-size: 60px;">#}
    {% for message in messages %}
{#        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="position:fixed; z-index: 88;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button><strong>!</strong> {{ message }}
        </div>
    {% endfor %}
{#    </ul>#}

{% endif %}

<header {% if request.path != "/" %}class="page"{% endif %}>
    {% include 'menu/templates/topmenu.html' %}
    {% include 'menu/templates/mainmenu.html' %}
</header>