{% load mptt_tags %}

    <div class="col-md-4 filter-product">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading"><h3 class="panel-title"> {{ leftbar.root_obj.title }}</h3></div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked category-menu">
                    {% if leftbar.obj_list %}
                        {% recursetree leftbar.obj_list %}
                            <li class='{% if not node.is_leaf_node %}has-sub parent {% endif %}{% if leftbar.obj.title == node.title %}active open{% endif %}'>
                                <a href="{{ node.get_absolute_url }}">{{ node.title }}
                                    {% if leftbar.obj.title == node.title %}<span class="badge pull-right">{{ objects|length }}</span>{% endif %}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="children{{ node.is_child_node }}">{{ children }}</ul>
                                    {% endif %}
                            </li>
                        {% endrecursetree %}
                    {% endif %}
                </ul>
            </div>
            {% if object.tags.exists %}
                <div class="panel-heading"><h3 class="panel-title">Тэги</h3></div>
                <div class="panel-body">
                    {% for tag in object.tags.iterator %}
                        <a href="?tag={{ tag.id }}" class="{% if request.GET.tag == tag.id|lower %} btn-primary{% endif %} tag btn btn-sm btn-default">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% include 'catalog/templates/product_filter.html' %}
        </div>
    </div>



