<section class="box-white info-bar">
    <div class="row small">
        <div class="pull-left products-showing">
            <span>{% if 'per_page' in request.GET %}{{ request.GET.per_page }}{% else %}12{% endif %}</span> / <span>{{ objects|length }}</span>
        </div>

        <form class="col-sm-12 col-md-11">
            <div class="col-md-7 col-sm-6">
                <div class="products-number">
                    <span>На странице:</span>
                    <a href="?per_page=12" class="btn btn-default btn-sm {% if request.GET.per_page in '12' %}btn-primary{% endif %}">12</a>
                    <a href="?per_page=18" class="btn btn-default btn-sm {% if request.GET.per_page in '18' %}btn-primary{% endif %}">18</a>
                    <a href="?per_page=24" class="btn btn-default btn-sm {% if request.GET.per_page in '24' %}btn-primary{% endif %}">24</a>
                    <a href="?per_page=96" class="btn btn-default btn-sm {% if request.GET.per_page in '96' %}btn-primary{% endif %}">96</a>
                </div>
            </div>
            {% if 'gallery' != type %}
            <div class="col-md-5 col-sm-6">
                <div class="products-sort-by">
                    <span>Сортировка:</span>
                    <a {% if request.GET.price %} class="text-info"{% endif %} href="?price=-price">Цене</a> |
                    <a {% if request.GET.is_new %} class="active"{% endif %}><a href="?is_new=-is_new">Новинки</a>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</section>