{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load thumbnail %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}

{% block breadcrumbs %}
    {% include 'default/breadcrumbs.html' with tree=object.get_ancestors obj=object %}
{% endblock %}

{% block leftbar %}
    {% include 'default/leftbar.html' %}
{% endblock %}

{% block main %}
    <h1>{{ object.title }}</h1>
    <div class="col-md-8">
        <div class="row">
            {% if object.get_main_image %}
            <img src="{{ object.get_main_image|thumbnail_url:'small' }}" class="col-md-2" alt="{{ object.get_main_image.image_title }}">
            <br>
            {% endif %}
            {% if object.description %}<p>{{ object.description }}</p>{% endif %}
            {% include 'catalog/templates/catalog_sort_row.html' %}
            {% include 'catalog/templates/item_product_list.html' %}
            {% include 'default/pagination.html' %}
            {#  include 'catalog/templates/catalog_product_list.html' with title=None  #}
            {% if object.html %}
                <section class="box">
                    <div class="content">{{ object.html|safe }}</div><hr>
                    {% include 'catalog/templates/catalog_child_list.html' %}
                </section>
        {% endif %}
        </div>
    </div>

{% endblock %}
