{% load static %}
{% load thumbnail %}

<section class='row'>
    {% with products_list=objects %}
        {% for product in products_list %}
             <div class="col-md-6 item">
                    <div class="product">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="img-responsive" src="{{ product.get_main_image|thumbnail_url:'big' }}" title="{{ product.get_main_image.image.image_title }}" alt="{{ product.title }}">
                        </a>
                        <div class="text">
                            <span>{{ product.title|truncatechars:35 }}<br>
                            {% if product.articul %}<a href="{{ product.get_absolute_url }}" class='small text-muted'>{{ product.articul }}</a><br>{% endif %}
                            {% if product.get_price %}
                                {% include 'product/templates/product_price.html' with obj=product %}
                            {% endif %}
                        </div>
                        <!-- /.text -->

                        {% if product.get_price_discount %}
                        <div class="ribbon sale">
                            <div class="theribbon">%</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}

                        {% if product.is_new %}
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}
                        {% if product.is_bestseller %}
                        <div class="ribbon gift">
                            <div class="theribbon">TOP</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}

                        {% if product.get_price %}
                            <a rel="nofollow" class='jsAddToCart btn btn-block btn-primary' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true"><i class="fa fa-shopping-cart"></i>В корзину</a>
                            <div id="ajaxError"></div>
                        {% endif %}
                    </div>
                    <!-- /.product -->
                </div>
        {% endfor %}
    {% endwith %}
</section>