{% load static %}
{% load thumbnail %}

{% comment %}
{{ area.html_code|safe }}
{% for area in include_areas %}
{% endcomment %}

{% if include_areas.exists %}
    <div id="advantages" class="container m-4a">
        {% for area in include_areas %}
            {% if area.code in 'advantages' %}
                <section class="advantage-block">
                    {% if area.image %}
                        <img class="p-0 col-md-6" alt="{{ area.title }}" src="{{ area.image|thumbnail_url:'big' }}">
                    {% endif %}
                    <div class="col-md-6 p-6">
                        <h2>{{ area.title }}</h2>
                        <blockquote class="text-left">
                            {{ area.description|safe }}
                        </blockquote>
                        <a class="btn bth-default" href="{{ area.url }}">Подробнее</a>
                    </div>
                </section>
            {% endif %}
        {% endfor %}
        </div>

{% endif %}