{% load fb_versions %}

<a href="{{ pi.get_absolute_url }}">
    {% if pi.product.image %}
        <img height="50" src="{% version pi.product 'admin_thumbnail' %}" alt="{{ pi.name }}">
    {% else %}
        <img height="50" src="{% version pi.product.productimage_set.first.image 'admin_thumbnail' %}" alt="{{ pi.name }}">
    {% endif %}
    <span>{{ pi.name }}</span>
    {% if pi.articul %}<small class='text-muted'>{{ pi.articul }}</small>{% endif %}
</a>