{% if comments.exists %}
{% load fb_versions %}
<div class="row comment last">
    <h3 class='col-md-12'>Комментарии:</h3>
    {% for comment in comments %}
        {% if comment.user and comment.user.userprofile.avatar %}
            <div class="col-sm-3 col-md-2 text-center-xs">
                <p><img src="{% version comment.user.userprofile.avatar 'admin_thumbnail' %}" class="img-responsive img-circle" alt=""></p>
            </div>
        {% endif %}

        <div class="col-sm-9 col-md-10">
            <h6>{{ comment.username }}</h6>
            <p class="posted small"><i class="fa fa-clock-o"></i> <time itemprop="dateCreated" datetime="{{ comment.created|date:'Y-m-d H:i:s' }}">{{ comment.created|date:'d/m/Y' }}</time></p>
            <p>{{ comment.text|truncatewords:80}}</p>
{#            <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a></p> #}
        </div>
        {% empty %}
        <p>Оставьте свой комментарий!</p>
    {% endfor %}
</div>
<hr>
{% endif %}