{% load mptt_tags %}

    <div class="col-md-3">
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading"><h3 class="panel-title"> {{ leftbar.root_obj.title }}</h3></div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked category-menu">
                    {% if leftbar.obj_list %}
                        {% recursetree leftbar.obj_list %}
                            <li class='{% if not node.is_leaf_node %}has-sub parent {% endif %}{% if leftbar.obj.title == node.title %}active open{% endif %}'>
                                <a href="{{ node.get_absolute_url }}">{{ node.title }}
                                    {% if leftbar.obj.title == node.title %}<span class="badge pull-right">{{ objects|length }}</span>{% endif %}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="children{{ node.is_child_node }}">{{ children }}</ul>
                                    {% endif %}
                            </li>
                        {% endrecursetree %}
                    {% endif %}
                </ul>
            </div>

            <form class="panel panel-default sidebar-menu">

                <div class="panel-heading"><h3 class="panel-title">Элементов на странице</h3></div>
                <div class="panel-body">
                     <h6>{% if 'per_page' in request.GET %}{{ request.GET.per_page }}{% else %}12{% endif %}/ {{ objects|length }}:</h6>
                    <a href="?per_page=12" class="btn btn-default btn-sm {% if request.GET.per_page in '12' %}btn-primary{% endif %}">12</a>
                    <a href="?per_page=18" class="btn btn-default btn-sm {% if request.GET.per_page in '18' %}btn-primary{% endif %}">18</a>
                    <a href="?per_page=24" class="btn btn-default btn-sm {% if request.GET.per_page in '24' %}btn-primary{% endif %}">24</a>
                    <a href="?per_page=96" class="btn btn-default btn-sm {% if request.GET.per_page in '96' %}btn-primary{% endif %}">96</a>
                </div>

                {% if 'gallery' != type %}
                <div class="panel-heading"><h3 class="panel-title">Сортировка</h3></div>
                <div class="panel-body">
                    <a {% if request.GET.price %} class="text-info"{% endif %} href="?price=-price">Цена</a> |
                    <a {% if request.GET.is_new %} class="active"{% endif %}><a href="?is_new=-is_new">Новинка</a>
                </div>
                {% endif %}

            </form>

            {% if object.tags.exists %}
                <div class="panel-heading"><h3 class="panel-title">Тэги</h3></div>
                <div class="panel-body">
                    {% for tag in object.tags.iterator %}
                        <a href="?tag={{ tag.id }}" class="{% if request.GET.tag == tag.id|lower %} btn-primary{% endif %} tag btn btn-sm btn-default">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}


            {% include 'catalog/templates/product_filter.html' %}




            <!--<div class="panel panel-default sidebar-menu">-->

                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Brands-->
                        <!--<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a>-->
                    <!--</h3>-->
                <!--</div>-->

                <!--<div class="panel-body">-->
                   <!--<form>-->

                        <!--<div class="form-group">-->
                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox">{{sp.value}} (10)-->
                                <!--</label>-->
                            <!--</div>-->

                        <!--</div>-->

                        <!--<button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>-->

                    <!--</form>-->
                <!--</div>-->

            <!--</div>-->

            <!-- *** MENUS AND FILTERS END *** -->

            <!--<div class="banner">-->
                <!--<a href="#">-->
                    <!--<img src="img/banner.jpg" alt="sales 2014" class="img-responsive">-->
                <!--</a>-->
            <!--</div>-->

        </div>
    </div>



