{# Slider #}
{% load static %}
{% load fb_versions %}


{% if slider_home %}
<div class="container">
    <div class="col-md-12">
        <div id="main-slider">
            {% with slider=slider_home  %}
                {% for sh in slider %}
                <div class="item row">
                    {% if sh.image %}<img src="{% version sh.image 'max' %}" alt="{{ sh.title }}" title="{{ sh.title }}" class="col-md-12">{% endif %}

                    {% if sh.url %}
                        <div class='info'>
                            <h3><a target="_blank" href="{{ sh.url }}">{{ sh.title }}</a></h3>
                            {% if sh.html_description %}<p>{{ sh.html_description }}</p>{% endif %}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>
{% endif %}
