{% load fb_versions %}

{% if obj.description  %}
<div class="box" data-animate="fadeInUp">
    <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h3>
    <p class="lead">{{ obj.description }}</p>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12" data-animate="fadeInUp">
        <div id="blog-homepage" class="row">
            {% for post in objects %}
                <section class="post">
                    {% if post.get_main_image %}
                        <img class="img-mini" src="{% version post.get_main_image 'small' %}"
                             alt="{{ post.get_main_image.image_title }}">
                    {% endif %}
                    <h3>{{ post.title }}</h3>
                    <div>
                        <p class='small'>
                            {% if post.description %}
                                {{ post.description }}
                            {% else %}
                                {{ post.html|striptags|truncatechars:150 }}
                            {% endif %}
                            <br><time class="small text-muted" datetime="{{ post.created }}">{{ post.created }}</time>
                        </p>
                        <p><a class="btn btn-primary btn-color" href="{{ post.get_absolute_url }}">Подробнее</a></p>
                    </div>
                </section>{% empty %}<p class="lead"> : ( Не найдено.</p>
            {% endfor %}
        </div>
        <!-- /#blog-homepage -->
    </div>
</div>
