{% extends 'main.html' %}
{% load staticfiles %}
{% load url_handler %}

{% load fb_versions %}

{% block title %}{{ post.seo_title }}{% endblock %}
{% block description %}{{ post.seo_description }}{% endblock %}
{% block keywords %}{{ post.seo_keywords }}{% endblock %}

{% block breadcrumbs %}{% include 'default/breadcrumbs.html' with tree=post.blog.get_family obj=post %}{% endblock %}

{% block main %}
    <div class="col-md-8 post">
        {% for img in post.get_images %}
            <div class="box-img-top"><img src="{% version img.image 'max' %}" alt="{{ img.title }}" title="{{ img.image_title }}"></div>
        {% endfor %}

        <article id="post-{{ post.id }}" class="article no-margin even post-{{ post.id }} post type-post">
            <h1>{{ post.title }}</h1>
            {% if post.description %}<blockquote>{{ post.description }}</blockquote>{% endif %}
            <div class="content">{{ post.html|safe }}</div>
        </article>

        <div class="small text-muted m-2a">
            <small>Опубликованно:
                <time class="small" datetime="{{ post.created }}">{{ post.created|date:'d/m/Y' }}</time>
            </small><br>
            {% if post.author %}
                <small>Автор: {{ post.author.get_short_name }}</small><br>
                <small>Коментарии: {{ post.comment_count }} шт.</small>
            {% endif %}
        </div>

        {% include 'default/next_prev.html' with type='post' %}

        {% if post.is_allow_comments %}
            {% include 'default/comment_list.html' %}
            {% include 'default/form_comment.html' with type='post' %}
        {% endif %}
    </div>
{% endblock %}