{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}
{% load mptt_tags %}
{% load rupluralize %}
{% load markdown_deux_tags %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywords }}{% endblock %}

{% block breadcrumbs %}
    {% include 'default/breadcrumbs.html' with tree=leftbar.obj.get_ancestors obj=object %}
{% endblock %}

{% block leftbar %}
    {% include 'default/leftbar.html' with leftbar=leftbar %}
{% endblock %}

{% block main %}
<div class="col-md-8">
    <h1>{{ object.title }}</h1>
    {% for img in object.get_images %}
         <img src="{% version img.image 'large' %}" alt="{{ img.title }}" title="{{ img.image_title }}">
     {% endfor %}
    {% if objects %}{% include 'default/pagination.html' %}{% endif %}
    {% include 'blog/templates/blog_post_list.html' with obj=object title=None %}
    {% if object.html %}<div class="content box-white">{{ object.html|safe }}</div>{% endif %}
    {% include 'catalog/templates/catalog_child_list.html' %}
 </div>


{% endblock %}
