<div id="top-bar">

    <div id="top">
        <div class="container">

            <div class="col-md-12" data-animate="fadeInDown">
                <ul class="text-left menu pull-left">
                    {% if setting_template.phone %}
                        <li>
                            <a href="tel:{{ setting_template.phone }}"><i class="fa fa-phone"></i> {{ setting_template.phone }}</a>
                        </li>
                    {% endif %}
                    {% if setting_template.email %}
                        <li>
                            <a href="email:{{ setting_template.email }}"><i class="fa fa-envelope"></i> {{ setting_template.email }}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="menu text-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#clain-modal"><i class="fa fa-bullhorn"></i> Заявка</a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}"><i class="fa fa-user"></i> Аккаунт</a>
                        {% else %}
{#                            <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>#}
                            <a href="{% url 'user_login' %}"><i class="fa fa-user"></i> Войти</a>
                        {% endif %}
                    </li>

                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><i class="fa fa-reply"></i> Выход</a>
                        {% else %}
                            <a href="{% url 'user_register' %}"><i class="fa fa-pencil"></i> Регистрация</a>
                       {% endif %}
                    </li>
                    <li>
                        <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                            <span class="sr-only">Toggle search</span>
                            <i class="fa fa-search"></i>
                        </button>
                    </li>
                </ul>
                {% include 'search/search_form.html' %}
            </div>
        </div>

{#        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">#}
{#            <div class="modal-dialog modal-sm">#}
{##}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                        <h4 class="modal-title" id="Login">Customer login</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <form action="{% url 'user_login' %}" method="post">{% csrf_token %}#}
{#                            <div class="form-group">#}
{#                                <input type="text" class="form-control" id="email-modal" placeholder="email">#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="password" class="form-control" id="password-modal" placeholder="password">#}
{#                            </div>#}
{##}
{#                            <p class="text-center">#}
{#                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>#}
{#                            </p>#}
{##}
{#                        </form>#}
{##}
{#                        <p class="text-center text-muted">Not registered yet?</p>#}
{#                        <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


    </div>


    </div>

<div id="clain-modal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content form-claim-modal">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="modal-title text-center">Быстрый контакт</h3>

            <div class="modal-body">
                <ul class="errorlist"></ul>
                <form class="">
                    <div class="form-group">
                        <p>Так мы быстрее отреагируем на ваш запрос.</p>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option selected>Тип заявки...</option>
                            <option value="1">Позвоните мне</option>
                            <option value="2">Оставить заявку</option>
                            <option value="3">Индивидкальный проект</option>
                            <option value="3">Другое</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder=":Email">
                    </div>

                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder=":Phone">
                        <small class="form-text small">We'll never share your email with anyone else.</small>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-block btn-primary">Отправить</button>
                    </p>
                    <p class="small">
                        <a class="small" href="#">Зарегистрироваться</a>
                    </p>
                </form>
                {% comment %}
                <form method="post" class="jsAuthRegister" action="{#% url 'ajax_register' %#}">
                    {% csrf_token %}
                    {{ ajax_register_form.as_p }}
                    <p class="text-center">
                        <button type="submit" name="register" class="btn btn-info">Зарегистрироваться</button>
                        <input type="hidden" name="next" value="{% url 'home' %}">
                    </p>
                </form>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
