{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %}
     --------------
    <meta name="robots" content="index,follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/vnd.microsoft.icon" href="">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon" sizes="57x57" href="">
    <link rel="apple-touch-icon" sizes="72x72" href="">
    <link rel="apple-touch-icon" sizes="114x114" href="">
    <link rel="apple-touch-icon" sizes="144x144" href="">
    -------------------
    {% endcomment %}

    <meta charset="utf-8">
{#  <meta name="robots" content="all,follow"> #}
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
{#  <link href='{% static "css/roboto.css" %}' rel='stylesheet' type='text/css'> #}
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="{% static "css/style.default.css" %}" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <script src="{% static "js/respond.min.js" %}"></script>

    <link rel="shortcut icon" href="{% static "favicon.png" %}">

    {# -- pyap -- #}
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Marychev Mihail | pyap.ru">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% if setting_template.meta %}{{ setting_template.meta|safe }}{% endif %}

    {% block additional_css %}{% endblock %}
    {# -- end -- #}
</head>

<body>

    {% if user.is_staff %}
        <a target="_blank" href="/admin" style="position: fixed; color: #D1A054; top:1px; padding: 5px 10px; font-size: 10px; z-index: 30; border: 1px solid #D1A054;">A</a>
    {% endif %}

    <div id="all">{% block content %}{% endblock %}</div>

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/bootstrap-hover-dropdown.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>

{# ---pYAp --- #}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css" media="all">
    <script src="{% static 'js/imitationPostCsrftoken.js' %}"></script>
    <script src="{% static 'cart/js/addCartForm.js' %}"></script>
    <script src="{% static 'cart/js/editCartForm.js' %}"></script>
    <script src="{% static 'js/pyap.js' %}"></script>
    {% if setting_template.scripts %}{{ setting_template.scripts|safe }}{% endif %}
    {% block additional_js %}{% endblock %}
{# --- end pYAp --- #}


</body>
</html>